// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 390px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azul: #007df4;
$azul-oscuro: #001f3f;

$secundario: #00c8c2;
$celeste: #4ac4f5;

$tecnico: #58d68d;

$tesorero: #ec7063;

$lecturador: #de1609;

$primario: #0077b6;
$secundario: #00b4d8;


$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

// Opciones alternativas si deseas otros tonos:
$grisOscuroSuave: #3a3a3a;
$grisOscuroMedio: #1f1f1f;
$grisNegro: #121212;

$rojo: rgb(169, 0, 0);
$verde: #02db02;
$amarillo: #e5b214;


// Tipografías
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;


$morado: #8e44ad;
$naranja: #e67e22;
$verde-suave: #2ecc71;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900