@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda {
    padding: 6rem 0;

    @include m.telefono {
        padding: 4rem 2rem;
    }

    @include m.tablet {
        padding: 5rem 2rem;
    }

    @include m.desktop {
        padding: 6rem 0;
    }

    @include m.contenedor;
}

.noticias {
    $modificador: &;

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: center;
        font-size: clamp(2.4rem, 4vw, 6rem);
        font-weight: 700;
    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
        font-size: 1.4rem;

        @include m.tablet {
            font-size: 1.6rem;
        }

        @include m.desktop {
            font-size: 1.8rem;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: v.$secundario;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 2rem;
    }
}

.noticia {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
        gap: 4rem;
    }

    &__enlace {
        all: unset;
        cursor: pointer;
        display: block;
        width: 100%;
    }

    &__imagen {
        width: 100%;
        max-width: 40rem;
        height: auto;
        aspect-ratio: 2 / 1;
        background-color: v.$blanco;
        border-radius: 1rem;
        object-fit: cover;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

        @include m.tablet {
            height: 20rem;
        }

        @include m.desktop {
            height: 22rem;
        }
    }

    &__informacion {
        background-color: v.$azul;
        color: v.$blanco;
        border-radius: 1rem;
        padding: 2rem;
        width: 100%;
        transition: background-color 300ms ease;

        &:hover {
            background-color: darken(v.$azul, 10%);
        }
    }

    &__nombre {
        font-size: 2rem;
        margin: 0 0 2rem 0;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include m.tablet {
            font-size: 2.2rem;
        }

        @include m.desktop {
            font-size: 2.4rem;
        }
    }

    &__resumen {
        padding-bottom: 1rem;
        font-size: 1.4rem;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include m.tablet {
            font-size: 1.6rem;
        }

        @include m.desktop {
            font-size: 1.8rem;
        }
    }
}
