@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda {
    padding: 6rem 0;
    @include m.contenedor;
}

.noticias {
    $modificador: &; //cambio de color a titulo workshops

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: center;
        font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
    }



    .swiper-button-next,
    .swiper-button-prev {
        color: v.$secundario;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 2rem;
    }
}

.noticia {
    
    &__enlace{
        all: unset;
    }
    &__informacion {
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: 300ms background-color ease;

        &:hover {
            background-color: darken(v.$azul, 10%);
        }
    }
    &__imagen{

        margin-left: 0.2rem;
        margin-top: 3rem;
        width: 40rem;
        height: 20rem;
        background-color: v.$blanco;
        border-radius: 10px;
    }

    &__nombre {
        font-size: 2rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 3rem;
    }

    &__resumen {
        //recortar texto
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 5; //cuantas lineas de texto quieres
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: justify;
    }
}