@use 'base/mixins' as m;
@use 'base/variables' as v;

.quehacemos {
    &__grid {
        padding-bottom: 12rem;
        @include m.contenedor;
        @include m.grid(1, 3rem);

        @include m.tablet {
            @include m.grid(2, 3rem);
        }

        @include m.desktop {
            @include m.grid(3, 3rem);
        }
    }

    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        margin-top: 3rem;
    }

    &__descripcion {
        @include m.descripcion-pagina;
    }
}

.hacemos {
    @include m.card;

    &:nth-child(2) {
        order: -1;

        @include m.tablet {
            order: unset;
        }
    }

    &__lista {
        @include m.reset-lista;
        line-height: 2;
    }

    i {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: v.$azul;
        font-size: 6rem;
    }

    &__imagen {
        padding-top: 3rem;
        margin: 0 auto;
        max-width: 20rem;
    }
}