.userPerfil__contenedor {
    background-color: #ffd399;
    background-image:
        radial-gradient(at 43% 24%, hsla(38, 62%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 2% 21%, hsla(20, 64%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 57%, hsla(292, 79%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 32% 61%, hsla(326, 78%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 97%, hsla(217, 89%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 74% 52%, hsla(86, 67%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 87%, hsla(144, 95%, 79%, 1) 0px, transparent 50%);
    border-radius: 20px;

    padding-bottom: 10rem;
}